.form-page-container {
  display: flex;
  justify-content: center;
  background-color: var(--colors-todo-bg);
  color: var(--colors-text-primary);
  position: relative;
  font-size: 1rem;
}

.form-container {
  width: 70%;
  margin-top: 3rem;
  padding: 1.5rem;
  border-radius: 8px;
}

.form-heading {
  font-size: 1.6rem;
}

.form-container label {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.form-error-message {
  color: var(--colors-error);
}

.form-input {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.8rem;
  margin: 0.8rem 0;
  border-radius: 5px;
  border: none;
  color: var(--colors-text-input);
}

.input-error {
  color: var(--colors-error);
}

.form-select-status {
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.8rem;
  cursor: pointer;
}

.btn-form {
  margin-top: 1.2rem;
  color: var(--colors-todo-bg);
  background-color: var(--colors-text-primary);
}

.btn-form:hover {
  background-color: var(--colors-btn-submit-hover);
}
