/*****************/
/* MEDIA QUERIES */
/*****************/

@media (max-width: 700px) {
  body {
    background-image: var(--bg-mobile);
  }

  .form-container {
    width: 90%;
  }

  .todo-details-container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }

  main {
    padding: 3rem 1rem 2rem;
    gap: 2rem;
  }

  .todo-section {
    --children-padding-inline: 1rem;
    --children-padding-block: 1.25rem;
    --children-gap: 1rem;
  }

  .form-heading {
    font-size: 1.3rem;
  }

  .delete {
    opacity: 1;
  }
}
