.todo {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--children-padding-block) var(--children-padding-inline);
  padding-inline-end: calc(var(--children-padding-inline) + 2.5rem);
  color: var(--colors-text-primary);
  background-color: var(--colors-todo-bg);
  user-select: none;
  cursor: pointer;
}

.todo:hover {
  background-color: var(--colors-todo-bg-hover);
}

.todo.completed {
  color: var(--colors-completed-todo);
  text-decoration: line-through;
}

.todo.completed .check.outline-circle {
  background: var(--colors-check-gradient);
  border: none;
}

.todo:not(.completed) .check.outline-circle:hover {
  border-color: transparent;
  background: linear-gradient(var(--colors-todo-bg), var(--colors-todo-bg)) padding-box,
    var(--colors-check-gradient) border-box;
}

.todo .todo-description {
  padding: 2px;
  padding-inline-start: var(--children-gap);
}

.outline-circle {
  width: 1.25em;
  height: 1.25em;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--colors-completed-todo);
}

.check.outline-circle {
  display: grid;
  place-items: center;
}

.icon-btn {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.icon-btn:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.delete {
  position: absolute;
  inset-inline-end: var(--children-padding-inline);
  opacity: 0;
}

.delete > svg path {
  fill: var(--colors-delete-icon);
}

.todo:hover .delete {
  opacity: 1;
}
