@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Fonts */
  --font-roboto: "Roboto", sans-serif;

  /* Colors */
  --dark-blue: #151237;
  --dark-pink: #c01b8c;
  --light-pink: #da4aad;
  --white: #ffffff;
  --green: #249f43;
  --red: #f43b53;
}

/*****************/
/* GLOBAL STYLES */
/*****************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  /* With this config 1rem = 10px */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 1.4rem;
  background-color: var(--dark-blue);
  color: var(--white);
  line-height: 1;
}

/*******************************/
/* GENERAL REUSABLE COMPONENTS */
/*******************************/

.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--dark-pink);
  color: var(--white);
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--light-pink);
}

.font-bold {
  font-weight: 700;
}

/****************/
/* FORMS STYLES */
/****************/

.page-form-container {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 70%;
  margin-top: 3rem;
  padding: 1.5rem;
  border: solid 1px var(--light-pink);
  border-radius: 8px;
}

.form-container label {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.form-error-message {
  font-size: 0.75rem;
  color: var(--red);
  display: none;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.8rem;
  margin: 0.8rem 0;
  border-radius: 8px;
}

input:invalid[focused="true"] {
  border: 1px solid var(--red);
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.form-select-status {
  width: 20%;
  border-radius: 4px;
  padding: 0.3rem;
  margin-top: 0.8rem;
}

.btn-form {
  margin-top: 1.2rem;
}
